.footer{
    display: flex;
    justify-content: space-between;
    border-top: 1px solid #EAECF0;
    align-items: center;
    height: 10vh;
    margin: 0 5rem;
}

.footer > p{
    font-size: 1rem;
}

.zuri_logo{
    font-weight: 700;
    font-size: 1.8rem;
}

@media screen and (max-width:56em) {
    .footer{
        display: flex;
        flex-direction: column;
        padding: 1rem 0;
        margin: 1rem;
        align-items: flex-start;
        gap: .5rem;
    }

    .zuri_logo{
        font-weight: 700;
        font-size: 1.5rem;
    }

    .footer > p{
        font-size: .875rem;
    }
}